<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.wora"/>

    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="jdbcUrl" value="jdbc:postgresql://localhost:5432/CCH"/>
        <property name="username" value="postgres"/>
        <property name="password" value="root"/>
        <property name="maximumPoolSize" value="10"/>
    </bean>

    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!-- <property name="configLocation" value="classpath:hibernate.cfg.xml"/> this is for hibernate config files -->
        <property name="packagesToScan" value="com.wora.Entity" />
        
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.use_sql_comments">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="competitionDAOImpl" class="com.wora.DAO.impl.CompetitionDAOImpl">
        <constructor-arg ref="sessionFactory" />
    </bean>

    <bean id="teamDAOImpl" class="com.wora.DAO.impl.TeamDAOImpl">
        <constructor-arg ref="sessionFactory" />
    </bean>

    <bean id="cyclistDAOImpl" class="com.wora.DAO.impl.CyclistDAOImpl">
        <constructor-arg ref="sessionFactory" />
    </bean>

    <bean id="generalResultsDAOImpl" class="com.wora.DAO.impl.GeneralResultsDAOImpl">
        <constructor-arg ref="sessionFactory" />
    </bean>

    <bean id="stagesResultsDAOImpl" class="com.wora.DAO.impl.StagesResultsDAOImpl">
        <constructor-arg ref="sessionFactory"/>
    </bean>


</beans>
